.carousel-caption{
  top: 50%;
  transform: translateY(-50%);
}

.btn{
  font-size: 18px;
  color: #000;
  padding: 12px 12px;
  background-color: #F2E3BC;
  border: 2px solid #FFF;
}

@keyframes play {
   100% { background-position: -2000px; }
}
