.carousel-inner img{
  transition: filter 1s;
}

.carousel-caption{
  top: 40%;
  transform: translateY(-40%);
}

.btn{
  font-size: 18px;
  color: #000;
  padding: 12px 12px;
  background-color: #F2E3BC;
  border: 2px solid #FFF;
}

@keyframes play {
   100% { background-position: -2000px; }
}

.fa{
  padding: 15px;
  font-size: 25px;
  color: #FFF;
}
.fa:hover{
  color: #D5D5D5;
  text-decoration: none;
}

.carousel-caption h1{
  font-size: 5em;
  margin: 10px;
}

.carousel-caption h2{
  font-size: 5em;
  margin: 10px;
}

@media (max-width: 900px){
  .fa{
    font-size: 20px;
    padding: 10px;
  }

  .carousel-caption h1{
    font-size: 3em;
    margin: 10px;
  }

  .carousel-caption h2{
    font-size: 3em;
    margin: 10px;
  }
}

@media (max-width: 600px){
  .carousel-caption h1{
      font-size: 1.0em;
      margin: 10px;
  }
  .carousel-caption h2{
      font-size: 1.0em;
      margin: 10px;
  }
}
