body{
  font-family: "Montserrat", Helvetica, sans-serif;
}

.navbar{
  margin-bottom: 0;
  border-radius: 0;
  background-color: #618985;
  color: #FFF;
  padding: 0.2% 0;
  font-size: 1.2em;
  border: 0;
}

.navbar-brand{
  float: left;
  min-height: 55px;
  max-width:  200px;
  padding: 10px 15px 15px;
}

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover{
  color: #FFF;
  background-color: #618985;
}

.navbar-inverse .navbar-nav li a{
  color: #D5D5D5;
}

#logout{
  background-color: Transparent;
  background-repeat:no-repeat;
  border-style: solid;
  border: none;
  -webkit-box-shadow: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  margin-top: 10px;
  width: 110px;
  font-size: 1em;
  outline: none;
  color: #D5D5D5;
}

#logout:hover{
  color: #FFF;
}

.container{
  margin: 4% auto;
}

#icon{
  max-width: 300px;
  margin: 1% auto;
}

@media (max-width: 600px){
  #icon{
    max-width: 150px;
  }
}

footer{
  width = 100%;
  background-color: #618985;
  padding: 3%;
  color: #FFF;
  bottom:0;
  width:100%;
}
