.navbar{
  margin-bottom: 0;
  border-radius: 0;
  background-color: #618985;
  color: #FFF;
  padding: 1% 0;
  font-size: 1.2em;
  border: 0;
}

.navbar-brand{
  float: left;
  min-height: 55px;
  /* max-height: 10px; */
  max-width:  200px;
  padding: 10px 15px 15px;
}

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover{
  color: #FFF;
  background-color: #618985;
}

.navbar-inverse .navbar-nav li a{
  color: #D5D5D5;
}

#searchBar {
  padding-left: 10px;
}

#searchButton {
  float: right;
  padding: 6px 10px;
  //margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

#search:hover {
  background: #ccc;
}

.container{
  margin: 4% auto;
}

#icon{
  max-width: 300px;
  margin: 1% auto;
}

footer{
  width = 100%;
  background-color: #618985;
  padding: 3%;
  color: #FFF;
}

.fa{
  padding: 15px;
  font-size: 25px;
  color: #FFF;
}
.fa:hover{
  color: #D5D5D5;
  text-decoration: none;
}

@media (max-width: 900px){
  .fa{
    font-size: 20px;
    padding: 10x
  }
}

@media (max-width: 600px){
  .carousel-caption{
    display: none;
  }
  #icon{
    max-width: 150px;
  }
  h2{
    font-size: 1.0em;
  }
}
