.btn{
  margin-top: 30px;
  margin-bottom: 30px;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#titleUsername{
  padding-left: 10px;
}

#recipeNum{
  padding-top: 100px;
  padding-bottom: 100px;
}
