#loading{
  width: 200px;
  height: 120px;
  background: url('imgs/loadingSprite.png') left center;
  animation: play .8s steps(10) infinite;
}

@keyframes play {
   100% { background-position: -2000px; }
}

#searchButton{
  height: 34px;
}

html, body{
  height:100%;
}

.wrapper{
  min-height:100vh;
  padding-bottom:200px;
}

footer{
  clear:both;
  position:relative;
  height:150px;
  margin-top:-150px;
}
